<div class="row">
    <div class="col-12 ">
        <div class="form-group row offset-1">
            <label for="druglist" class="col-sm-2 col-form-label">Full Name</label>
            <div class="col">
                <div class="form-control  col-sm-6">
        {{patients.student.personal_name}} {{patients.student.father_name}} {{patients.student.grand_father_name}}
            </div>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group row offset-1">
            <label for="druglist" class="col-sm-2 col-form-label">Disease Type</label>
            <div class="col ">
              <select name="priscription" id="priscription" class="form-control col-sm-6" >
                  <option value=""> --- -- select Disease -- ---</option>
                  {% for disease in diseases %}
                  <option value="{{disease.id}}">{{disease.name}}</option>
                  {% endfor %}
              </select>
            </div>
    </div>
    <div class="col-12" id="priscription_t">
            

            </div>
    </div>
</div>


<div class="modal-body">
        <div class="modal-footer justify-content-between">
          <button type="submit" id="bchecked" class="btn btn-success">Save changes</button>
        </div>
    </div>