<!DOCTYPE html>
<html lang="en">

{% include "layout/header.html" %}

<body class="hold-transition sidebar-mini layout-fixed" >
    <div class="wrapper">
        
{% include "layout/nav.html" %}
{% include "layout/side.html" %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">OPD</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Room</a></li>
              <li class="breadcrumb-item active">page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
       

          
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Patient Information</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="table" class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Student</th>
                <th>Id Number</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
            {% for patient in patients %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                  {{ patient.student.personal_name }}
                  {{ patient.student.father_name }}
                  {{ patient.student.grand_father_name }}
                </td>
                <td>{{ patient.student.id_number }}</td>
                <td>
                  <a class="btn btn-info" id="view_opd_p" data-id="{{patient.student.id}}" 
                      data-backdrop='static' data-keyboard='false' data-toggle="modal" data-target="#opd_view" href="#">
                    Priscribe
                  </a>
                  <a class="btn btn-info" id="view_opd_r" data-id="{{patient.student.id}}" 
                      data-backdrop='static' data-keyboard='false' data-toggle="modal" data-target="#opd_view" href="#">
                    Refer
                  </a>
                  <a class="btn btn-info" id="view_opd_l" data-id="{{patient.student.id}}" 
                      data-backdrop='static' data-keyboard='false' data-toggle="modal" data-target="#opd_view" href="#">
                    Laboratory
                  </a>
                </td>
              </tr>
            {% endfor %}
              </tbody>
              
            </table>
          </div>
          <!-- /.card-body -->
        </div>
       


      </div><!-- /.container-fluid -->
    </section>
   
      

    <!-- /.content -->
  </div>
     





  <div class="modal fade" id="opd_view">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Diagnose Patient</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'clinic:p_checked' %}" method="post">
          {% csrf_token %}
        <div  id="viewdata">
          
        </div>
        
      </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>



    </div>
</body>
{% include "layout/footer.html" %}

{% include "layout/footer_script.html" %}

</html>