<div class="body">
    
    <div class="row p-3">
        <div class="col-md-3">Full Name</div>
        <div class="col-md-2">Id Number</div>
        <div class="col-md-2">Card Number</div>
        <div class="col-md-2">Location</div>
        <div class="col-md-3">Action</div>
    </div>
<hr>
    
{% if student %}
    <div class="row p-3">
        <input type="hidden" name="" id="id" value="{{card.card.id}}">
        <div class="col-md-3">{{student.personal_name}}, {{student.father_name}}, {{student.grand_father_name}}</div>
        <div class="col-md-2">{{student.id_number}}</div>
        <div class="col-md-2">
           <input type="text" class="form-control col-md-8" id="number" value="{{card.card.number}}"> 
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control col-md-8" id="location" value="{{card.card.location_id}}"> 
        </div>
        <div class="col-md-3">
            <a href="#" id="updatecard"><i class="fas fa-edit"></i></a>
        </div>
    </div>
<hr>

{% endif %}
</div>